<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>My Blog</title>
</head>
<body>
    <div class="container">
        <div id="counter">0</div>
        <button type="button" onclick="clickme()"> click me</button>
    </div>
    <script src="../public/js/app.js"></script>
</body>
</html>